.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px;
    left: 50px;
  }
  
  .baloon {
    position: absolute;
    left: 300px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 110px;
    left: 320px;
    z-index: 1;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 590px;
    top: 205px;
    z-index: 2;
  }