h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    font-style: italic;
}

p {
    font-weight: 600;
    font-size: 3em;
    line-height: 150px;
    text-decoration: line-through;
}

ul {
    background-color: black;
}

body {
    font-size: 16px;
    text-align: center;
}

.amarelo { background-color: yellow; }

.vermelho { background-color: red; }

.marrom { background-color: brown; }