div:hover {
    border: 5px solid black;
}

#cor1 {
    background-color: red;
    font-style: italic;
}

#cor2 {
    background-color: green;
}

#cor3 {
    background-color: blue;
    padding: 10px;
    font-style: italic;
}

#cor4 {
    background-color: brown;
}

#cor5 {
    background-color: aqua;
    font-style: italic;
}